Package: observium-agent
Version: 0.2.0-beta
Section: misc
Priority: optional
Architecture: all
Essential: no
Depends: xinetd, check-mk-agent
Recommends: munin-node
Installed-Size: 288
Maintainer: Robert McLeod <robert.mcleod@itpeople.co.nz>
Homepage: https://github.com/hamstar/observium-agent
Description: A polling agent for Observium to access information from monitored devices
  Installs scripts from the Observium project into the appropriate places.  Combined with
  the dependent packages this allows a monitored device to provide more information to an
  Observium server.  See http://www.observium.org/wiki/UNIX_Agent for more information.
