Package: observium-agent
Version: 0.1.0-alpha
Section: misc
Priority: optional
Architecture: all
Essential: no
Depends: xinetd, check-mk-agent
Recommends: munin-node
Installed-Size: 0
Maintainer: Robert McLeod <robert.mcleod@itpeople.co.nz>
Homepage: <none>
Description: A polling agent for Observium to access information from monitored devices
  Very alpha release
